@font-face {
font-family: 'JetLinkMediumOldStamp498723';
src: url('JetLinkMediumOldStamp.eot');
src: url('JetLinkMediumOldStamp.eot?#iefix') format('embedded-opentype'),
     url('JetLinkMediumOldStamp.woff') format('woff'),
     url('JetLinkMediumOldStamp.ttf') format('truetype'),
     url('JetLinkMediumOldStamp.svg#JetLinkMediumOldStamp') format('svg');
    font-weight: normal;
    font-style: normal;
   }