<div class="container container-sm">
  <div class="headline">
    <h2>编辑图片卡</h2>
  </div>

  <%= render 'form' %>
  <br>
  <p class="text-center">
    <%= link_to '查看', @tour_avator %> |
    <%= link_to '返回列表', tours_path %>
  </p>
  
</div>