<div class="container container-sm">
  <div class="tag-box tag-box-v3 margin-bottom-40">
    <h2>资源所在位置</h2>
    <p>团队: <%= @route.tour.name %></p>
    <p>线路: <%= @route.name %></p>
  </div>
  
  <div class="headline">
    <h2>添加団期</h2>
  </div>

  <%= render 'form' %>
  <br>
  <p class="text-center">
    <%= link_to '返回団期列表', route_departures_path(@route) %>
  </p>
  
</div>