<div class="tag-box tag-box-v3 margin-bottom-20">
  <h2>团费说明</h2>
  <p>功能介绍 “JHT观光”循环式旅行团，日本自由行新概念！七条线路带您玩遍日本北海道、关东、中部、近畿、中国、四国，九州等7个地区，30多个城市，百余名胜景点。</p>
</div>

<div class="tag-box tag-box-v4 margin-bottom-10">
  <h4><span class="label label-red"><i class="fa fa-cog"></i> 行程特点</span></h4>
  <p>JHT观光循环巴士旅行团与一般的旅行团无异，有舒适的巴士接送、专业的导游沿途全面的讲解和精心的照顾、三至四星级品牌酒店的住宿；但同时又有一般旅行团无法比拟的特点：
  </p>

  <ul>
    <li>每条线路为七天（一个星期），每周不停循环，四季开通</li>
    <li>不受人数影响，天天保证出发</li>
    <li>自由选择入团以及离团的城市</li>
    <li>自定参加天数（1-7天任选），参加全程或者分段参加随意安排</li>
    <li>七条线路行程任意搭配，灵活变出心意旅程</li>
    <li>团费以参加天数计算，可预算简单</li>
    <li>中文导游沿途讲解照顾</li>
    <li>无强制性消费和购物</li>
  </ul>
</div>