


<div class="container content">

    <div class="heading heading-v1 margin-bottom-60">
      <h2>众信直销 澳大利亚、新西兰13日全景跟团游</h2>
      <p>13天澳大利亚、新西兰全线全景 送海豚岛度假村+免费喂海豚+罗托鲁瓦山顶天空缆车自助西餐</p>
    </div>

    <div class="row margin-bottom-20">
      <div class="col-sm-6">
        <div class="service-block service-block-aqua">
          <i class="icon-custom icon-lg rounded-3x icon-color-light icon-line icon-badge"></i>
          <h2 class="heading-md">旺季前最后优惠</h2>
          <p>春节旺季前全网最低价 包签证包联运 <br> 1月再订价格翻翻!</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="service-block service-block-dark-blue">
          <i class="icon-custom icon-lg rounded-3x icon-color-light icon-line icon-badge"></i>
          <h2 class="heading-md">入住天阁露玛<strong>海豚岛度假村</strong></h2>
          <p>亲手喂食野生海豚 充分享受白沙、绿 林、斜阳及海洋精灵一般的野生海豚带来的悠闲惬意假期</p>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-60">
      <div class="col-sm-6">
        <div class="service-block service-block-brown">
          <i class="icon-custom icon-lg rounded-4x icon-color-light icon-line icon-badge"></i>
          <h2 class="heading-md">送罗托鲁瓦山顶天空缆车自助西餐</h2>
          <p>在梦幻般的罗托鲁瓦山顶餐亲身体验塑造了新西兰的大地之力 美景与美味相伴左右 美食美景双重盛宴</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="service-block service-block-orange">
          <i class="icon-custom icon-lg rounded-4x icon-color-light icon-line icon-badge"></i>
          <h2 class="heading-md">13天超长避寒团</h2>
          <p>冬季避寒好去处<br>13天慢节奏澳新全线轻松走完</p>
        </div>
      </div>
    </div>

    <div class="heading heading-v4 margin-bottom-60">
      <h2>好不好比比才知道</h2>
    </div>
    <!-- Pricing Table v1-->
    <div class="row pricing-table-v1 no-space-pricing">

      <div class="col-xs-5">
        <div class="pricing-v1 pricing-v1-green">
          <div class="pricing-v1-head text-center">
            <div class="sticker-left">优!</div>
            <h4>我们的产品</h4>
            <h5><span>￥</span>10,998<i>含签证联运</i></h5>
          </div>
          <ul class="list-unstyled pricing-v1-content">
            <li><i class="fa fa-check-circle-o"></i>13天超长全景游 旅行轻松+愉快</li>
            <li><i class="fa fa-check-circle-o"></i>一晚天阁露玛野生海豚度假村 享受阳光沙滩+免费喂食野生海豚!</li>
            <li><i class="fa fa-check-circle-o"></i>悉尼游轮午餐+新西兰罗托鲁瓦山顶缆车自助餐！</li>
            <li><i class="fa fa-check-circle-o"></i>价格包签证+厦航联运</li>

          </ul>
          <div class="pricing-v1-footer">
            <a href="#" class="btn-u btn-block text-center">完胜</a>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <%= image_tag "/vs.png", style: "width: 100%; margin-top: 75px" %>
      </div>
      <div class="col-xs-5">
        <div class="pricing-v1 pricing-v1-red">
          <div class="pricing-v1-head">

            <h4 class="text-center">其他同类澳新产品</h4>
            <h5 class="text-center"><span>￥</span>12,000<i>起</i></h5>
          </div>
          <ul class="list-unstyled pricing-v1-content">
            <li><i class="fa fa-frown-o"></i>10-12天紧缩行程 赶时间赶景点</li>
            <li><i class="fa fa-frown-o"></i>全程三星内陆宾馆</li>
            <li><i class="fa fa-frown-o"></i>只含游船自助餐</li>
            <li><i class="fa fa-frown-o"></i>签证、外地联运可能另外收费</li>
          </ul>
          <div class="pricing-v1-footer">
            <a href="#" class="btn-u btn-u-red btn-block text-center">完败</a>
          </div>
        </div>
      </div>
    </div><!--/row-->

</div>


