<!-- 
<div class="shadow-wrapper">
  <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
    <h2>One Template Endless Possibilities</h2>
    <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
  </div>
</div> 
-->
<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="悉尼歌剧院" >
        <img src="img/sydney-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
      </li>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="罗托鲁瓦山缆车">
        <img src="img/rotorua-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
      </li>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="霍比特人小镇">
        <img src="img/hobbiton-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
      </li>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="十二门徒岩">
        <img src="img/apostles-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>


<div class="container content">

  <div class="heading margin-bottom-60">
    <h2>众信直销 澳新13日</h2>
    <p>海豚岛+海滨酒店+罗托鲁瓦山缆车+山顶豪华自助餐</p>
  </div>

  <div class="heading heading-v4 featurebox margin-bottom-60">
    <h2>主要景区</h2>
    <p>悉尼</p>
    <p>蓝山</p>
    <p>墨尔本</p>
    <p>布里斯班 + 黄金海岸</p>
    <p>海豚岛</p>
    <p>大洋路 &middot; 十二门徒</p>
    <p>奥克兰</p>
    <p>罗托鲁瓦山 &middot; 湖</p>
    <p>霍比特人小镇</p>
    <p>爱歌顿牧场</p>
    <p>地热火山</p>
  </div>

  <div class="heading heading-v4 featurebox margin-bottom-60">
    <h2 class="smaller">美食</h2>
    <p>悉尼游船自助餐</p>
    <p>罗托鲁瓦山顶豪华自助餐</p>
  </div>

  <div class="heading heading-v4 featurebox margin-bottom-60">
    <h2 class="smaller">酒店</h2>
    <p>海豚岛 &middot; 天阁露玛度假村</p>
    <p>当地三~四星酒店</p>
  </div>

  <div class="heading heading-v4 featurebox margin-bottom-60">
    <h2 class="smaller">对他其他同类产品</h2>
    <p><strong>大出境批发商直销 产品质量有保障</strong><br>v.s.<br>旺季包机商发团</p>
    <br>
    <p><strong>海豚岛送海滨酒店 + 免费喂食野生海豚</strong><br>v.s.<br>全程三星内陆宾馆</p>
    <br>
    <p><strong>悉尼游轮自助 + 山顶豪华自助 + 缆车</strong><br>v.s.<br>单自助餐或半山廉价牛排餐</p>
  </div>






  <div class="heading heading-v5 margin-bottom-20">
    <h2>详细行程</h2>
  </div>

  <ul class="timeline-v2">
    <li class="equal-height-columns">
      <div class="cbp_tmtime equal-height-column"><span>第1天</span> <span>中国 &middot; 成都</span></div>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
      <div class="cbp_tmlabel equal-height-column">
        <h2>成都 - 􏰜􏰝厦门 - 悉尼</h2>
        <p>􏴛􏴛从成都前往厦门，厦门出发乘国际航班直接飞往澳大利亚第一大城市——悉尼，夜宿飞机上。</p>

      </div>
    </li>

    <li class="equal-height-columns">
      <div class="cbp_tmtime equal-height-column"><span>第2天</span> <span>澳大利亚 &middot; 悉尼</span></div>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
      <div class="cbp_tmlabel equal-height-column">
        <h2>悉尼</h2>
        <div class="row margin-bottom-20">

          <div class="col-md-12">
            <p>【悉尼港、悉尼歌剧院（外景）及悉尼大桥（远观）】（停留约20分钟）悉尼歌剧院位于澳大利亚悉尼，是20世纪最具特色的建筑之一，也是世界著名的表演艺术中心，已成为悉尼市的标志性建筑。该歌剧院1973年正式落成，2007年6月28日被联合国教科文组织评为世界文化遗产。游览闻名的悉尼歌剧院半岛外景，它三面环海， 外形犹如一组扬帆出海的船队，也像一枚枚屹立在海滩上的洁白大贝壳。</p>
            <p>【皇家植物园】（停留约15分钟）这里集中了澳大利亚特有桉树200多个品种，还有山栌、丝柏、悬铃木、白蜡树、枞树、喜马拉雅杉、铁树、樟树等以及多种澳大利亚原产花卉。此外，还可欣到不少的参天古树，它们有的己拥有近二百年的树龄。</p>
            <p>【圣玛利亚大教堂】（停留约20分钟）悉尼海德公园附近的圣玛利亚大教堂是澳洲规模最大、最古老的宗教建筑，也是澳洲天主教的最高精神殿堂。它是悉尼大主教的所在地，建于悉尼第一个天主教堂的旧址。大教堂是由当地的砂岩建成，“哥特式”的建筑风格是欧洲中世纪大教堂的建筑遗风。它始建于1821年，而天主教神父正式来到澳大利亚是在1820年，因此圣玛利亚大教堂又被称为澳大利亚天主教堂之母。
              <p>【麦考利夫人的椅子】（停留约10分钟）在这里可以同时拍到悉尼歌剧院、海平面、和悉尼海港大桥的全景图。 </p>
              <p>【海德公园】（停留约15分钟）海德公园是菲利普总督于1792年宣布开放给公众使用，公园南端矗立了澳大利亚、新西兰军人纪念碑，Macquarie街对面，则有为了纪念一战的法澳联盟而建的亚奇伯德（Archibald）喷水池。</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>悉尼港</p>
                <p>悉尼歌剧院</p>
                <p>皇家植物园</p>
                <p>圣玛利亚大教堂</p>
                <p>麦考利夫人的椅子</p>
                <p>海德公园</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>不含</p>
                <p class="sublabel">午膳</p>
                <p>不含</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>精品悉尼酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第3天</span> <span>澳大利亚 &middot; 悉尼</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>悉尼</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>【双湾及玫瑰湾】（途径）双湾，南半球星级海湾之尊，一个是悉尼内海海湾，另一个是南太平洋海湾。这里依山面海，成群的海鸥追逐着点点白帆，停泊在码头上的游艇鳞次栉比，浓郁的地中海城镇气息，让人迷恋向往。玫瑰湾，赛过香港浅水湾，也称情人湾，湾内棕榈婆娑，绿草茵茵，露天咖啡厅人们休憩谈天，港内有许多处水池及喷泉，每逢盛大节日，这里还是观看焰火的好地方。</p>
              <p>【邦迪海滩】（停留约30分钟）邦迪海滩的名字来自于原居民的语言bondi，意思是海水拍岸的声浪，这里是澳洲最有名的休闲海滩，洁白细沙、清澈海水，令人不禁想戏水。邦迪海滩是悉尼人夏日喜爱日光浴的场所之一，2000年悉尼奥运的沙滩排球也是在此举行的。</p>
              <p>畅游悉尼三园（全部时间约2-2.5小时）悉尼杜莎夫人蜡像馆位于达令港中心地带，紧邻悉尼水族馆和悉尼野生动物园，是悉尼趣味横生的全新互动式景点。馆内设有80多尊名人蜡像和9个互动主题区，男女老少皆宜，您可以在此亲身接近一线名人。悉尼水族馆是全世界最大、最壮观的水族馆之一，位于达令港东部，主体建筑在达令港水面下。这里的通道长达百米，两边都是圆弧形的透明玻璃，真正与海洋生物面对面！水族馆展出了来自澳大利亚各大海域的水生生物，比如鸭嘴兽、小丑鱼、小企鹅以及会变性的拿破仑鱼，许多海洋生物也只能在悉尼水族馆才看得到，比如大型纺锤状的儒艮！请预留至少一个半小时的时间参观。这里多个馆都根据澳大利亚海域来命名。</p>
              <p>悉尼野生动物园并不是国内意义上的“野生动物园”，而是位于悉尼市中心情人港畔，号称“世界最大的室内动物园”，与水族馆毗邻。在这里您欣赏独特的标志性澳大利亚动物绝对是难忘的体验。这里有超过65种以上的展品，超过130种不同种类的澳大利亚动物。您可以探寻来自超过澳大利亚9种独特的栖息地，跨越3层地表环境。在这里您可以接触到袋鼠，观看非常可爱的毛鼻袋鼠，可以同考拉拍照，还可以置身于蝴蝶的世界。更可以近距离接触5米长的巨大咸水鳄。这里有着澳大利亚内陆致命的动物：大毒蛇，食火鸡，悉尼漏斗网式蜘蛛。这里还有濒危物种：超大的兔耳袋狸，黄足岩袋鼠。悉尼野生动物世界让您尽情的享受最特别和奇异的野生动物。</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>双湾</p>
                <p>玫瑰湾</p>
                <p>邦迪海滩</p>
                <p>杜莎夫人蜡像馆</p>
                <p>悉尼水族馆</p>
                <p>悉尼野生动物园</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>不含</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>精品悉尼酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第4天</span> <span>澳大利亚 &middot; 蓝山</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>悉尼 - 蓝山 - 悉尼</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>【早餐后，我们将带您乘车前往游览：澳洲最壮丽且引人入胜的美景之一——蓝山国家公园。这里覆盖着广阔的温带桉树——尤加利树。在阳光的照射下，尤加利树叶释放出天然的油脂微粒散布在空气中，将蓝山峡谷染出一层淡淡的氲蓝，蓝山之名由此而来。清爽的高山空气、瀑布奔泻的广阔沙岩山谷、3块酷似人形的岩石——三姐妹岩、奇特的回音谷等，都是到了蓝山不可错过的体验。前往蓝山脚下的LEURA小镇，参观小镇极具特色的小店，可能无意间觅得自己心头好。</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>蓝山国家公园</p>
                <p>三姐妹岩</p>
                <p>Leura小镇</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>精品团餐</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>悉尼精品酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第5天</span> <span>新西兰 &middot; 奥克兰</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>悉尼 - 奥克兰</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>一早乘飞机飞往新西兰奥克兰，抵达后入住酒店休息。</p>
              <p>【奥克兰介绍：奥克兰是新西兰最大的城市和首要港口，是新西兰海外贸易、国内工商业中心和交通枢纽。 奥克兰市位于新西兰北岛的北部，是一座包裹著神奇海洋世界的现代都市，城市环绕著怀特玛塔港（Waitemata Harbour）和豪拉基湾（Hauraki Gulf）两岸建设, 港湾优良,也因此造就了新西兰海岸都市的独特风格。新西兰平均每2.7人就有一人拥有一艘船，因此，奥克兰又有“帆船之都”的美誉。】</p>
              <p>奥克兰市区游览：【海港大桥】（途径）海港大桥是奥克兰极富代表性的一处景致。大桥连接奥克兰最繁忙的港口——怀提玛塔海港南北两岸，全长1020米。海港大桥与停泊在奥克兰艇俱乐部的万柱桅杆，组成了一幅壮观美丽的图画。</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>奥克兰市</p>
                <p>海港大桥</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>不含</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>奥克兰精品酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第6天</span> <span>新西兰 &middot; 罗托鲁瓦</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>奥克兰 - 罗托鲁瓦</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>早餐后，我们将乘车前往罗托鲁瓦。</p>
              <p>【罗托鲁瓦在毛利语中即两座湖，是纽西兰最大的毛利部落的家乡，这里的毛利人有着高度民族自觉，极力维护毛利文化的传承，想要见识真正的毛利生活，这里是全纽西兰唯一的选择。罗托鲁瓦也是纽西兰的地热之乡，因为地处火山活跃地带上，到处是高温达200℃的热水，还有不断冒出的硫磺气，整个城市弥着着一股硫磺臭味。】</p>
              <p>【哈比人小镇】（车览）《魔戒》场景哈比人小镇现实中是一个叫做玛塔玛塔的小镇。</p>
              <p>【爱歌顿牧场】（入内参观，约1小时）爱歌顿牧场内坡地逶逦、林木葱茏、芳草萋萋、地域辽阔，不同品种的牛、羊、鹿、鸵鸟散落其中，一派诱人的田园牧歌景象。这里可以与各种动物零距离接触，体验农场的生活，享受那种回归自然的乐趣。</p>
              <p>【毛利皇宫】（外观，停留约20分钟）在芳草萋萋的绿色坪圃远处，耸立着一幢桔黄色屋顶的英式建筑，造型奇特精致、华丽美观。</p>
              <p>【政府花园】（停留约20分钟）一座英国伊利莎白式的橘红色顶的群楼，在绿树、草地和水池的衬映下格外显眼花园的每一个角落都能看见“万绿丛中一抹红”的色彩搭配。</p>
              <p>午餐特别为您安排体验世界绝佳的罗托鲁瓦山顶自助餐！（停留约1小时）这里的厨师精心准备了多种热 汤如：海鲜巧打汤、味增汤和南瓜浓汤，还有沙拉，凉菜，海鲜，热菜和铁板烧烤等，另外还有多达15种以上的经典新西兰甜点，挑逗您的味蕾！</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>哈比人小镇</p>
                <p>爱歌顿牧场</p>
                <p>毛利皇宫</p>
                <p>政府花园</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>罗托鲁瓦山顶豪华自助餐</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>罗托鲁瓦精品酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第7天</span> <span>新西兰 &middot; 奥克兰</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>罗托鲁瓦 - 奥克兰</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>早餐后，游览：【红木森林】（停留约15分钟），感受新鲜自然的空气。</p>
              <p>【罗托鲁瓦湖】（停留约15分钟）它是罗托鲁瓦市区著名的景点，是由远古时期的火山活动中形成，多数成为毛利传说与历史的一部分，比如幽灵战舟飘泊于迷雾之中和情人悄悄游过湖泊到隐秘处幽会就是一个经久流传的动人传说。</p>
              <p>【华卡雷瓦地热保护区及火山喷泉区和毛利文化村】（入内参观，共约1小时），这里集温泉奇景于一身，区内烟雾弥漫，新西兰最大的间歇泉波胡图，泉水喷出高达30公尺，通常每天喷出20次，擎天水柱倾泻而出，蔚为奇观，成为罗托鲁瓦的最佳地标。毛利人的古老房屋,经过修缮后集中在这里，村的中央有一处展览所,内部陈列了毛利人独特的雕刻品,是游客了解毛利族文化的最佳场所。</p>
              <p>随后乘车返回奥克兰，抵达后下榻酒店休息。</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>红木森林</p>
                <p>罗托鲁瓦湖</p>
                <p>华卡雷瓦地热保护区</p>
                <p>火山喷泉区和毛利文化村</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>精品团餐</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>奥克兰精品酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第8天</span> <span>澳大利亚 &middot; 布里斯班</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>奥克兰 - 布里斯班</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>早餐后游览：之后游览（步行）游览【伊甸山】（游览时间约30分钟）位于新西兰的奥克兰市中心以南约5公里处，是一死火山的火山口。山顶设有瞭望台，视野开阔，是眺望市景的好地方，站立在巨大的火山口旁，环视奥克兰全景等景区。不愧被世界喻为千帆之都，从山顶可以俯瞰到海面星星点点的无数条帆船。</p>
              <p>【工党纪念碑】（游览时间约10分钟）：为纪念新西兰第23任首相，也是工党第一任领袖迈克尔•乔瑟夫•萨文奇(Michael Joseph Savage)而建的。工党纪念碑旁边也都是绿草如茵，绿化非常好。【天使湾】、【玫瑰花园】（共停留约15分钟）。周围景色非常秀美，可以看到奥克兰市区和海港的景色，大家还可以在草地上拍照。</p>
              <p>晚餐后乘机飞往布里斯班，抵达入住酒店休息。</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>伊甸山</p>
                <p>工党纪念碑</p>
                <p>天使湾</p>
                <p>玫瑰花园</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>精品团餐</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>布里斯班精品酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第9天</span> <span>澳大利亚 &middot; 海豚岛</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>布里斯班 - 海豚岛 - 布里斯班/黄金海岸</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>早餐后前往码头，乘船前往天阁露玛野生海豚度假村。</p>
              <p>以下行程时间表为建议行程，仅供您参考，可能会有变化调整时间，具体行程以海豚岛度假村当日安排为准！在海豚岛上您将有约半天的自由活动时间。在此您还可以观赏到塘鹅或者笑翠鸟！</p>
              <p>10:00 在天阁露玛景点的码头登记坐渡船出发，您将在码头的服务员手中领取您的行李标签。</p>
              <p>12:00 客人午餐自理</p>
              <p>13:00自由活动。（温馨提示：自由活动期间请您注意人身安全和财产安全！）</p>
              <p>18:00 在防波堤给海豚喂食。您所在旅行团的领队会提醒您喂食海豚的时间。喂食的时间主要取决于涨潮的次数，但通常情况下，喂食的时间是在当地时间下午6点半左右。这项活动可能会弄湿您膝盖部以下的衣服。如果您想要喂食的话，请根据情况做穿着上的安排并随身携带一块毛巾。</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>伊甸山</p>
                <p>工党纪念碑</p>
                <p>天使湾</p>
                <p>玫瑰花园</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>不含</p>
                <p class="sublabel">晚膳</p>
                <p>不含</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>天阁露玛度假村</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第10天</span> <span>澳大利亚 &middot; 布里斯班</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>布里斯班/黄金海岸 - 墨尔本</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>早餐后我们将前往布里斯本市区进行游览：游览位于布里斯班河的南岸公园（停留约30分钟），这里原本是1988年万国博览会的会址，是享受布里斯班亚热带气候的最佳去处。之后游览袋鼠角和故事桥（途径）。随后乘车前往冲浪者天堂的黄金海岸游览。</p>
              <p>晚餐后乘机飞往澳大利亚的第二大城市、具有“花园之州”美誉并被国际人口行动组织评为“世界上最适合人类居住”的墨尔本。抵达入住酒店休息。</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>南岸公园</p>
                <p>袋鼠角</p>
                <p>故事桥</p>
                <p>冲浪者天堂</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>精品团餐</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>墨尔本精品酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第11天</span> <span>澳大利亚 &middot; 墨尔本</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>墨尔本</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>早餐后乘车前往享有“世界八大奇迹”之称的十二门徒。到那里感受海洋与礁石的美感，在此留下您的倩影。</p>
              <p>十二门徒石是大洋路的精华和代名词，它也是澳大利亚最盛名远播的自然景观之一。十二门徒石是一组穿出南大洋水面巍然耸立的巨型岩石，是坎贝尔港国家公园的中心看点。十二门徒石形成于海水对石灰岩悬崖的侵蚀。在过去的1000-1200万年里，南大洋的风暴和充满爆炸力的大风，慢慢地侵蚀着这些松软的石灰岩悬崖，在悬崖上形成许多洞穴，洞穴逐渐变成拱门。当拱门坍塌后，这些高达45米的巨石就被从大陆岸边分离出去。温馨提示：今天车程较长，比较辛苦，请您做好准备！</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>大洋路</p>
                <p>十二门徒岩</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐</p>
                <p class="sublabel">午膳</p>
                <p>精品团餐</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>墨尔本精品酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第12天</span> <span>澳大利亚 &middot; 悉尼</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>墨尔本 - 悉尼</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>早餐后，您可以在美丽的亚拉河畔感受墨尔本的现代与古典，还可看见王子桥（途径）。随后游览古老的旧国会大厦广场（外观）和位于国王公园旁边的皇家植物园（入内，停留约20分钟）。还将游览古老的圣派翠克大教堂（入内，停留约30分钟）和库克船长小屋（外观停留约15分钟）</p>
              <p>搭乘晚班机抵达悉</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>景点</h4>
                <p>王子桥</p>
                <p>旧国会大厦广场</p>
                <p>皇家植物园</p>
                <p>圣派翠克大教堂</p>
                <p>库克船长小屋</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>膳食</h4>
                <p class="sublabel">早膳</p>
                <p>酒店早餐或餐盒</p>
                <p class="sublabel">午膳</p>
                <p>不含</p>
                <p class="sublabel">晚膳</p>
                <p>精品团餐</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="heading food-heading margin-bottom-20">
                <h4>酒店</h4>
                <p>悉尼精品酒店</p>
              </div>
            </div>
          </div>

        </div>
      </li>

      <li class="equal-height-columns">
        <div class="cbp_tmtime equal-height-column"><span>第13天</span> <span>中国 &middot; 厦门</span></div>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel equal-height-column">
          <h2>悉尼 - 厦门 - 成都</h2>
          <div class="row margin-bottom-20">

            <div class="col-md-12">
              <p>早餐后，前往悉尼机场乘飞机飞往厦门，我们将结束澳大利亚和新西兰的愉快旅程随后乘机飞回成都，您将回到舒适的家中</p>
            </div>
          </div>

        </div>
      </li>

    </ul>

  </div>
