<div class="news-v3 bg-color-white margin-bottom-30">
  <img class="img-responsive full-width" src="img/maoxian/header.jpg" alt="">
  <div class="news-v3-in">
    
    <h2><a href="#">茂县坪头羌寨2天1晚休闲自驾游</a></h2>
    <p class="lead">茂县羌寨是近年来最火爆的周末周边自驾游目的地之一。茂县地处川西高地原距离成都190公里，自驾车程越2.5小时。这里远离闹市风景优美空气清晰，是周末喝茶打麻将的理想场所。我们为您安排的2天1晚自驾行程时间宽裕、路线灵活、住宿干净，娱乐项目丰富价格实惠。无论您想顺路去都江堰江边喝茶，去九顶山赏花，在汶川买猕猴桃和苹果还是早点回家都可以轻松安排。羌寨游客会所提供篝火晚会，茶水, wifi, 麻将，扑克和泡脚等多种娱乐项目。不限时间完全免费。我们收费合理，羌寨住宿包三餐大众消费。</p>
  </div>
</div>

<span class="single-page-quote single-page-quote-left ">
  <p>第一天
    <br>
  成都 - 都江堰 - 映秀 - 汶川 - 茂县</p>
</span>
<div class="clear-both">
  <p>自驾车沿着成灌高速到都江堰，然后(可不下高速)沿都汶高速到汶川出高速(成都到汶川约1.5小时)。跟路牌沿国道213茂县方向开到茂县县城(约1小时)。然后按下图所指示位置转弯抵达坪头羌寨。晚上6点以前到达可以用当日晚餐。晚上住坪头羌寨民宿泡脚跳舞打麻将。</p><br>
</div>
<img class="img-responsive" src="img/maoxian/ditu.jpg" alt="">
<br>
<ul class="source-list ">
  <li><strong>注意:</strong> 都汶高速和国道213上隧道和大车很多。请注意安全驾驶不要超速。</li>
  <li><strong>建议沿途游览景点:</strong> 都江堰景区对岸河边喝茶很惬意；路过映秀可以参观地址遗址；路过水磨可去江边文化街游览；路过汶川可以购买当季水果</li>
</ul>

<span class="single-page-quote single-page-quote-left">
  <p>第二天
    <br>
  茂县 - 成都 </p>
</span>
<div class="clear-both ">
  <p>早上在坪头羌寨内部游览。参观羌人民宿和鬼神广场。推荐去茂县中国古羌城参观(门票约20元需自理)。午饭后回成都。</p><br>
</div>
<ul class="source-list ">
  <li><strong>建议沿途游览景点:</strong> 九顶山或大禹像</li>
</ul>

<br><br><br>
<h2 class="title-v4">行程特色</h2>

<div class="row news-v2 margin-bottom-50">
  <div class="col-sm-6 sm-margin-bottom-30">
    <div class="news-v2-badge">
      <img class="img-responsive" src="img/maoxian/hotel.jpg" alt="">
    </div>
    <div class="news-v2-desc">
      <h3><a href="#">特色住宿 干净卫生</a></h3>
      <p>坪头羌寨内部羌族风格民宿多是15年前后才装修竣工。房间很新，整洁干净。一般都带有院子可供客人休闲乘凉。</p>
    </div>
  </div>
  <div class="col-sm-6 sm-margin-bottom-30">
    <div class="news-v2-badge">
      <img class="img-responsive" src="img/maoxian/village.jpg" alt="">
    </div>
    <div class="news-v2-desc">
      <h3><a href="#">羌寨参观 不收门票</a></h3>
      <p>坪头羌寨门票90元。为了优惠顾客，我们旅行社与羌寨管理方达成特别协议。凡是参加本自驾休闲游的客人可以免费参观。</p>
    </div>
  </div>
  <div class="col-sm-6 sm-margin-bottom-30">
    <div class="news-v2-badge">
      <img class="img-responsive" src="img/maoxian/paojiao.jpg" alt="">
    </div>
    <div class="news-v2-desc">
      <h3><a href="#">木桶泡脚 消除劳累</a></h3>
      <p>为了帮助您消除自驾劳顿的疲劳，凡是参加本自驾休闲游的游客可以免费享受木桶泡脚一次。</p>
    </div>
  </div>
  <div class="col-sm-6 sm-margin-bottom-30">
    <div class="news-v2-badge">
      <img class="img-responsive" src="img/maoxian/majiang.jpg" alt="">
    </div>
    <div class="news-v2-desc">
      <h3><a href="#">免费麻将 茶水免费</a></h3>
      <p>会所提供麻将(机麻、手麻都有，先到先得). 麻将和茶水都完全免费。</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="news-v2-badge">
      <img class="img-responsive" src="img/maoxian/food.jpg" alt="">
    </div>
    <div class="news-v2-desc">
      <h3><a href="#">住宿包饭 经济实惠</a></h3>
      <p>住宿包三餐（早，中，晚餐各一顿）。客人可以自由安排行程选择吃饭顺序。注意: 午饭12点，晚饭下午6点。过饭点才到的客人只能等下顿。没有吃不退钱。</p>
    </div>
  </div>
</div>

<h2 class="title-v4">预订须知</h2>
<ol>
  <li>本团为自驾游不包括大交通。如您没有车可在新南门汽车站乘旅游大巴前往茂县再步行前往羌寨。(单程车票约65元)</li>
  <li>民宿提供的麻将和其他娱乐项目民宿主人可能会收费。免费麻将需要到会所打。</li>
  <li>包餐须在用餐时间去吃。午饭为12点，晚饭为下午6点。请妥善安排您的时间。耽误用餐时间食堂不提供餐饮。</li>
  <li>由于本平台无法设定日期，下单前先联系客服预订你的到达日期以便我们通知羌寨备案，否则羌寨可能没有你的预订信息。另外，五一国庆等大假可能满员。</li>
  <li>本预订支持退款和改签但需要在预订日期前一天通知客服。预订日期当天才通知客服不保证能退改。</li>
</ol>
