<div class="sys-masthead">
  <a href="#" class="sys-masthead-logo">
    <%= image_tag "huang/small_logo.png" %>
  </a>
</div>



<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="mainSlide">
        <!-- MAIN IMAGE -->
        <img src="http://f4.sjbly.cn/m15/0916/1736/00ikf_1920x390_fgm.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1_c sft start"
        data-x="center"
        data-hoffset="0"
        data-y="230"
        data-speed="1500"
        data-start="500"
        data-easing="Back.easeInOut"
        data-endeasing="Power1.easeIn"
        data-endspeed="300">
        盛唐遗风全景日本8日亲子旅行
      </div>

      <!-- LAYER -->
      <div class="tp-caption revolution-ch2_c sft"
      data-x="center"
      data-hoffset="0"
      data-y="350"
      data-speed="1400"
      data-start="2000"
      data-easing="Power4.easeOut"
      data-endspeed="300"
      data-endeasing="Power1.easeIn"
      data-captionhidden="off"
      style="z-index: 6">
      东京 / 京都 / 箱根 / 大阪 <br/>
      いらっしゃいませ!
    </div>

    <!-- LAYER -->
        <!-- <div class="tp-caption sft"
        data-x="center"
        data-hoffset="0"
        data-y="310"
        data-speed="1600"
        data-start="2800"
        data-easing="Power4.easeOut"
        data-endspeed="300"
        data-endeasing="Power1.easeIn"
        data-captionhidden="off"
        style="z-index: 6">
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">点我电询</a>
        </div> -->
      </li>

    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<div style="width: 100%">
  <%= image_tag "huang/sample.gif", style: "width: 100%; margin: 10px 0 20px 0" %>
</div>
<div class="no-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 content-boxes-v3 content-boxes-v3-right">
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
      </div>

      <div class="col-xs-6 content-boxes-v3">
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container huang_features">
    <div class="row">
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="unify/assets/img/main/img3.jpg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">东京 Tyokyo</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">遇见迪士尼</a></h3>
            <p>在亚洲第一梦幻乐园迪斯尼遇见米老鼠和唐老鸭</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="unify/assets/img/main/img4.jpg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">大阪 Osaka</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">遇见迪士尼</a></h3>
            <p>在亚洲第一梦幻乐园迪斯尼遇见米老鼠和唐老鸭</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="unify/assets/img/main/img4.jpg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">大阪 Osaka</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">遇见迪士尼</a></h3>
            <p>在亚洲第一梦幻乐园迪斯尼遇见米老鼠和唐老鸭</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="unify/assets/img/main/img4.jpg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">大阪 Osaka</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">遇见迪士尼</a></h3>
            <p>在亚洲第一梦幻乐园迪斯尼遇见米老鼠和唐老鸭</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="headline"><h3>行程地图</h3></div>
  <%= image_tag "http://f5.sjbly.cn/m15/0918/1114/00zxi_640x990_hm.jpg", style: "width:100%" %>
</div>

<div class="container">
  <div class="tab-v1 huang_price">
    <ul class="nav nav-tabs" style="background-color: #eee; padding-top: 0px">
      <li class="active" >
        <a href="#home" data-toggle="tab" style="font-size: 16px;padding: 10px 20px 10px 20px;margin-left:60px">品质行程<br><em>2,999元/人起</em></a>
      </li>
      <li>
        <a href="#profile" data-toggle="tab" style="font-size: 16px;padding: 10px 20px 10px 20px">豪华行程<br><em>3,499元/人起</em></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-plane"></span><br>
                机票
              </td>
              <td class="price_info">
                出发口岸城市东京单程含税机票 (单程转机次数≤1次)大阪市原出发口岸城市单程含税机票 (单程转机次数≤1次)
                <br>
                * 直飞口岸城市：仅北京，若选其他口岸城市直飞，请自理到北京机票
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-home"></span><br>
                酒店
              </td>
              <td>Jacob</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-flag"></span><br>
                光观
              </td>
              <td>Larry</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-user-following"></span><br>
                签证
              </td>
              <td>htmlstream</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-support"></span><br>
                保险
              </td>
              <td>htmlstream</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-feed"></span><br>
                装备
              </td>
              <td>htmlstream</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade in" id="profile">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-plane"></span><br>
                机票
              </td>
              <td class="price_info">
                出发fsffsfesgfesfsefefsfdfvsefe程转机次数≤1次)
                <br>
                * 直飞口岸城市：仅北京，若选其他口岸城市直飞，请自理到北京机票
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-home"></span><br>
                酒店
              </td>
              <td>Jacob</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-flag"></span><br>
                光观
              </td>
              <td>Larry</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-user-following"></span><br>
                签证
              </td>
              <td>htmlstream</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-support"></span><br>
                保险
              </td>
              <td>htmlstream</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-feed"></span><br>
                装备
              </td>
              <td>htmlstream</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="panel-group acc-v1 huang_accordion" id="accordion-1">
  <h3 class="according_heading">预定须知</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
          产品须知
        </a>
      </h4>
    </div>
    <div id="collapse-One" class="panel-collapse collapse in">
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
          预订须知
        </a>
      </h4>
    </div>
    <div id="collapse-Two" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
          汇款须知
        </a>
      </h4>
    </div>
    <div id="collapse-Three" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
          服务监督与交易担保
        </a>
      </h4>
    </div>
    <div id="collapse-Four" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
  </div>
</div>



