<div class="blog-grid margin-bottom-30">
  <h1 class="blog-grid-title-lg zhongguyin_font">2015 日本本州赏枫六日游</h1>

  <div class="overflow-h margin-bottom-10">
    <ul class="blog-grid-info pull-left">
      <li><i class="fa fa-flag"></i> 成都出发</li>
      <li><i class="fa fa-plane"></i> 白天直飞</li>
      <li><i class="fa fa-calendar"></i> 2015年11月 - 2016年1月最高优惠</li>
    </ul>
  </div>
  <img class="img-responsive" src="img/japan/fuji1.jpg" alt="">
</div>

<span class="single-page-quote single-page-quote-left minixiyouyuan_font">
  <p>第一天
    <br>
  成都 - 大阪 <small>9C8563 09：25-14:30</small></p>
</span>
<div class="clear-both minixiyouyuan_font">
  <p>指定时间成都双流机场集合，专业领队机场开行前说明会，并协助旅客办理值机及边防手续，搭乘春秋航空，前往大阪关西国际空港。飞行4小时，抵达大阪关西机场，办理入境手续，导游接机，乘专车前往酒店，办理入住手续。</p><br>
</div>
<ul class="source-list minixiyouyuan_font">
  <li><strong>时差:</strong> <a href="#">日本与中国时差1小时，如中国时间早上8点，日本时间为早上9点</a></li>
  <li><strong>用餐:</strong> 自理</li>
  <li><strong>住宿:</strong> 飞机</li>
</ul>


<span class="single-page-quote single-page-quote-left minixiyouyuan_font">
  <p>第二天
    <br>
  大阪 - 京都</p>
</span>
<div class="clear-both minixiyouyuan_font">
  <img class="blog-grid-img-v1" src="img/japan/osaka.jpg" alt="">
  <p>【大阪城公园】（约45分钟）日本三大城堡之一「大阪城」，丰臣秀吉于公元1583年在石山本愿寺遗址上初建，至今已有400多年历史，为当时日本第一名城，也是日本前所未有的最大城堡(不登城)。</p>
  <p>【心斋桥】（约60分钟）在御堂筋大街东面与之平行的心斋桥筋商店街是大阪最知名的购物区，也是大阪的一个永久性标志。远在江户时期，这里就已形成了购物商圈，距今已有380年的历史。直到今天，这里依然是热闹非凡。</p>
  <p>【道顿崛】道顿崛美食街位于日本大阪心斋桥附近，是大阪美食的代表地点。道顿崛美食街的一带都是大阪最繁华的商业区，几乎没有一寸土地不是被商铺所占据着。来到号称日本厨房的大阪，道顿崛美食街是绝对不能错过。</p>
  <p>【伏见稻荷大社】（约40分钟）位于稻荷山的山麓，这里主要供奉以宇伽之御魂大神为首的诸位稻荷神，是深受京都人爱戴的神社之一，香火最为旺盛。稻荷神就是狐狸神，被认为保佑五谷丰收，衍生为商业繁荣。伏见稻荷大社内，到处可见口中叼着稻穗或谷物的狐狸，接受人们的膜拜与礼敬。</p>
  <p>【二年阪、三年阪】二、三年阪是京都古街散策的絕佳地點，也是日本傳統建築保存區，沿著石階和石板小道的兩旁並列了許多特產店、飲食店和日式料亭，這裡的建築跟商品都充滿了京都傳統地方文化色彩。</p>
  <p>【祇园艺妓街】（约45分钟）是京都最具代表性的繁华街，从江户时代开始，茶馆就已经鳞次栉比，白川通的石板小路与两边的花街茶屋充满了浓浓的传统京都风味，两旁整齐林立着京都著名町家建筑的茶屋、餐厅与高级日本料理店，幸运的话您还能在此一窥舞妓和艺妓的美丽倩影。</p>
  <br>
</div>
<ul class="source-list minixiyouyuan_font">
  <li><strong>用餐:</strong> 早餐 午餐 <a href="#">晚餐自理</a></li>
  <li><strong>住宿:</strong> 中部地区</li>
</ul>

<span class="single-page-quote single-page-quote-left minixiyouyuan_font">
  <p>第三天
    <br>
  中部 - 富士山</p>
</span>
<img class="img-responsive" src="img/japan/fuji2.jpg" alt="">
<br>
<div class="clear-both minixiyouyuan_font">
  <p>【忍野八海】（不低于30分钟）忍野八海被誉为“日本小九寨沟”，是位于山梨县忍野村的涌泉群。富士山的雪水流经地层数十年过滤成清澈的泉水，由8处渗出因而形成池塘。其秀丽的田园风光，池水波光潾潾与美丽的富士山合为一体，其情其景，美不胜收，日本名水百选之名当之无愧。</p>
  <p>【平和公园】（约15分钟）游览富有日本庭园式的平和庭园，观赏园内园艺花草，富有日本特色。这里也是远眺富士山的最佳景点。</p>
  <p>【山中湖或河口湖红叶祭】（约30分钟）富士五湖之一，秋日红叶之盛构成了「红叶隧道」和「红叶走廊」等独特景点，每年10月下旬至11月下旬更有红叶祭举行。眺望富士山，雪白枫红，置身日本传统二色的世界。
【富士山五合目】（约60分钟）：“五合目”日语念作「ごごうめ」是指富士山的第五个高度的那个地方。一般在那里欣赏富士山的美景 富士山海拔3776米，富士山由山脚到山顶分为十合，日本人把每一段叫一‘合目’。由山脚下出发到半山腰称为五合目，到了海拔2305米高的五合目，气温是零下５度左右。日本满山遍野都被红叶包围着，真是层林尽染，煞是好看，美不胜收。这里的山丘原野，秋意正浓，枫叶染红了大地。林木包括了槭树、漆树、桦树、山毛榉等变色叶木，所以日本人把红叶都统称为枫叶。日本的秋天是多彩的。日本秋天漫长，多枫、山毛榉等秋天叶色转红的树木，与山明水秀的风土相得益彰，被视为世界上红叶最美的国家之一。不仅能充分欣赏到大自然的鬼斧神工，而且也观赏到大自然瞬息万变的独特魅力。</p>
  <br>
</div>
<ul class="source-list minixiyouyuan_font">
  <li><strong>用餐:</strong> 早餐 午餐 <a href="#">晚餐自理</a></li>
  <li><strong>住宿:</strong> 富士山地区(标准团此处住5星)</li>
</ul>


<span class="single-page-quote single-page-quote-left minixiyouyuan_font">
  <p>第四天
    <br>
  富士山 - 东京</p>
</span>
<div class="clear-both minixiyouyuan_font">
  <img class="blog-grid-img-v1" src="img/japan/tokyo.jpg" alt="">
  <p>【银座】（约60分钟）的地价在世界上屈指可数, 为世界之最，是日本东京中央区的一个主要商业区，以高级购物商店闻名，是东京其中一个代表性地区。附件设有多家大型百货公司，包括三越、松屋百货、松板屋、春天百货等，高级品牌专门店如爱马仕、Gucci、Chanel，亦有各式饮食店及高级餐厅，高级夜总会等。</p>
  <p>【综合免税店】（约50分钟）日本人气产品免税专门店, 客人可自由选购各种日本国民之健康流行食品及各种日本手信。</p>
  <p>【秋叶原电器店】 （约60分钟）东京著名电气店,可以自由选购日本最新款、最高科技电器及电子产品。</p>
  <p>【皇居外苑】（二重桥）（停留约30分钟）历代天皇及其家人的住所。皇居的大部分不开放参观，平时游人只能在皇宫外苑外的皇宫广场附近游览一番。整个皇居区域林木葱葱，满目苍翠，可说是闹区中的宁静。</p>
  <p>【台场Divercity】于2012年4月19日台场最新落成商场，其位置在台场的正中央，电视台就在一桥之隔的对面。包括：American Eagle Outfitters的首间商场店、日本最大的ARMANI JEANS、BEAMS及BURBERRY等，店铺数目共有154间之多。另外也有多间东京人气食店进驻。而重点当然是由BANDAI直营的高达主题区：Gundam Front Tokyo。Gundam Front Tokyo位于商场内合共面积达2千平方米。</p>
  <br>
</div>
<ul class="source-list minixiyouyuan_font">
  <li><strong>用餐:</strong> 早餐 午餐 晚餐</li>
  <li><strong>住宿:</strong> 东京地区</li>
</ul>

<span class="single-page-quote single-page-quote-left minixiyouyuan_font">
  <p>第五天
    <br>
  本州东部 - 本州中部</p>
</span>
<div class="clear-both minixiyouyuan_font">
  <p>【浅草观音寺、仲见世商店街】日本观音寺总堂，相传在古天皇36年3月18日 SUMIDA川的三位渔民在出海捕鱼时，看到观音显现，建立浅草寺来供奉观音。浅草寺前的购物小街，游客可在此选购特色手信。</p>
  <p>【远眺天空之树】新东京地标；深具日本传统的美学意识，投射出聚集在铁塔的人们所表现出来的丰富对话之色彩。高333公尺的东京铁塔，一直是日本最高的建筑物，不过「日本最高」的称号，今天被取代，取名「天空树」的东京新铁塔，今天兴建高度达到338公尺，成为日本第一高建筑，这个新铁塔盖完后，将高达634公尺，成为仅次于杜拜哈里法塔，全球第二高建筑。</p>
  <br>
</div>
<ul class="source-list minixiyouyuan_font">
  <li><strong>用餐:</strong> 早餐 午餐 晚餐</li>
  <li><strong>住宿:</strong> 滨松或名古屋地区</li>
</ul>


<span class="single-page-quote single-page-quote-left minixiyouyuan_font">
  <p>第六天
    <br>
  中部 - 奈良 - 大阪 - 成都 <small>9C8564</small></p>
</span>
<div class="clear-both minixiyouyuan_font">
  <p>【奈良神鹿公园】（约60分钟）位于奈良市街的东边，东西长4公里、南北宽2公里，面积广阔，若草山、东大寺、春日大社、国立博物馆等奈良的名胜古迹大多在这里。成群嬉戏于公园里的鹿，因与春日大社流传的白鹿传说有关而受到保护，且被指定为国家的自然保护动物</p>
  <p>下午约14点30分，到达大阪关西机场，办理登机手机，搭乘航班返回成都，回到温馨的家！</p>
  <br>
</div>
<ul class="source-list minixiyouyuan_font">
  <li><strong>用餐:</strong> 早餐</li>
</ul>

<h2 class="title-v4">用餐、住宿和自费项目</h2>
<p>标准行程包含以上行程中所列全部正餐(午、晚餐)。正餐为特色日式料理或中华料理。特价行程<strong>只有4个正餐</strong>。标准行程包含一晚5星酒店(一般安排在游览富士山那天)，其他为精品酒店。特价行程全部是精品酒店。行程包含2个自费项目，标准团团费已包含。特价团客人如需<strong>(自愿)</strong>参加则另需付费。自费项目收取的费用包含门票、接送和导服费，收费标准如下:</p>
<ol>
  <li>富士红汤(6,000日元即约320人民币/人)。</li>
  <li>京都文化体验(10,000日元即约540人民币/人)。</li>
</ol>

<h2 class="title-v4">预订须知</h2>
<ol>
  <li>由于本平台无法自动清位，下单前请务必与客服联系以确保您选定的团期有空位。以免造成退款等麻烦以及耽误您的时间。</li>
  <li>为了确保您能够按时出行，联系客服确定出行后请在24小时内支付全款。同时请按要求尽快提供出游所需的材料并签订单向服务协议。</li>
  <li>房型以确认书所标示的类型为准。如产生房价差，会收取差额。跟据酒店房间安排，恕无法一定保证所需房型。单间单人利用追加2500元/人（含5晚）</li>
  <li>如果因客人自身原因(客人在日本有滞留不归记录或者有拒签记录)而被领馆拒签导致无法准时参团的,则将按退改规定收取违约金。</li>
  <li>此团最低成团人数为2成人，若不到成团人数我社有权取消此团。</li>
  <li>境外旅游风险随着意外事故的发生逐渐上升，境外旅游爱好者的旅游安全意识随之提高，当越来越多的风险存在，除了掌握安全防范措施，紧急应对外，境外旅游保险可以起到一定的补充作用，为旅游人士避免或降低一定的经济风险。按照国家旅游局的有关规定，旅游人身意外保险由游客自愿购买，我公司给予强烈提醒并提供便利，如旅游者不愿购买保险，请签字。</li>
  <li>行程中所列的餐、景点等，如果自动放弃，费用不退。</li>
  <li>如遇国家政策性调整门票、交通价格，按调整后的实际价格结算。</li>
  <li>因不可抗拒的客观原因（包括地震、台风、雷击、水灾、火山爆发等自然原因）和非我公司原因（如战争、政府行为、罢工、爆炸、疫情、堵车等）或航空公司航班延误、取消、机位调整或领馆签证延误等特殊情况，我社和旅游者均可以解除合同，旅行社扣除已支付的费用后将余款退还旅游者。或因合同变更，因此增加的费用由旅游者承担，减少的费用退还旅游者；危及旅游者人身、财产安全的，旅行社采取相应的安全措施，因此支出的费用，由旅行社与旅游者平均分担；造成旅游者滞留的，旅行社采取相应的安置措施，因此增加的食宿费用，由旅游者承担；增加的返程费用，由旅行社和旅游者平均分担。</li>
  <li>出团通知最晚于出团前5个工作日发送，若能提前确定，我们将会第一时间通知。</li>
</ol>

<h2 class="title-v4">退款须知</h2>
<p>本服务支持退款但可能产生违约金，具体标准如下:</p>
<ol>
  <li>游客在出发前30天以前（不含30天）取消行程，不用支付违约金。</li>
  <li>游客在出发前30天-20天（不含20天）取消行程，须支付旅游合同总价50%的违约金。</li>
  <li>游客在出发前20天-10天（不含10天）取消行程，须支付旅游合同总价80%的违约金。</li>
  <li>游客在出发前10天内取消行程不退钱。</li>
  <li>以上天数不包括法定休假日。</li>
</ol>