


<div class="container content">

  <div class="heading heading-v1 margin-bottom-60">
    <h2>众信直销 西澳大利亚8日度假游</h2>
    <p>慢节奏+美食+阳光沙滩+休闲旅游+五星酒店+农场做客+红酒庄园</p>
  </div>

  


  <div class="row margin-bottom-20">
    <div class="col-sm-6">
      <div class="service-block service-block-aqua">
        <i class="icon-custom icon-lg rounded-3x icon-color-light icon-line icon-badge"></i>
        <h2 class="heading-md">冬季度假团</h2>
        <p>慢节奏游览+短车程行程 = 充分享受南半球夏季阳光<br>水上活动+篝火晚餐+私人农场 = 度假多于观光</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="service-block service-block-brown">
        <i class="icon-custom icon-lg rounded-4x icon-color-light icon-line icon-badge"></i>
        <h2 class="heading-md">澳洲美食 天天美食餐</h2>
        <p>海滨烧烤 烤袋鼠+烤鳄鱼+小龙虾+澳洲牛排吃到饱<br>做客私人农场 主人现做定制美食</p>
      </div>
    </div>
  </div>

  <div class="row margin-bottom-60">
    <div class="col-sm-6">
      <div class="service-block service-block-dark-blue">
        <i class="icon-custom icon-lg rounded-3x icon-color-light icon-line icon-badge"></i>
        <h2 class="heading-md">酒店高标准</h2>
        <p>公寓别墅酒店带客厅带厨房+5星海滨酒店</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="service-block service-block-orange">
        <i class="icon-custom icon-lg rounded-4x icon-color-light icon-line icon-badge"></i>
        <h2 class="heading-md">亲临《爸爸去哪儿》取景地</h2>
        <p>跨过地球穿越时空 亲身体验《爸爸去哪儿》第三季唯一境外取景地</p>
      </div>
    </div>
  </div>

  <div class="heading heading-v4 margin-bottom-60">
    <h2>为什么选择我们？</h2>
  </div>
  <!-- Pricing Table v1-->
  <div class="row pricing-table-v1 no-space-pricing margin-bottom-60">

    <div class="col-xs-5">
      <div class="pricing-v1 pricing-v1-green">
        <div class="pricing-v1-head text-center">
          <div class="sticker-left">优!</div>
          <h4>我们的产品</h4>
          <h5><span>￥</span>16,500<i>起</i></h5>
        </div>
        <ul class="list-unstyled pricing-v1-content">
          <li><i class="fa fa-check-circle-o"></i>大出境批发商直销。长期独立发团，产品质量有保障！</li>
          <li><i class="fa fa-check-circle-o"></i>*景区全部安排带客厅带厨房公寓别墅酒店并送一晚五星海滨酒店！</li>
          <li><i class="fa fa-check-circle-o"></i>特色餐丰富。包含绿地野餐、海滨烧烤、农庄定制餐等众多美食。</li>
          <li><i class="fa fa-check-circle-o"></i>时间安排合理，游览节奏轻松使您充分享受南半球的夏日阳光。</li>
          <li><i class="fa fa-check-circle-o"></i>精选自费，客人有充分时间参加每个项目。</li>

        </ul>
        <div class="pricing-v1-footer">
          <a href="#" class="btn-u btn-block text-center">性价比高</a>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <%= image_tag "/vs.png", style: "width: 100%; margin-top: 75px" %>
    </div>
    <div class="col-xs-5">
      <div class="pricing-v1 pricing-v1-red">
        <div class="pricing-v1-head">

          <h4 class="text-center">其他同类西澳产品</h4>
          <h5 class="text-center"><span>￥</span>20,000<i>起</i></h5>
        </div>
        <ul class="list-unstyled pricing-v1-content">
          <li><i class="fa fa-check-circle-o"></i>可能是承包商或旺季包机商发团。</li>
          <li><i class="fa fa-frown-o"></i>大多安排当地三、四星内陆酒店。</li>
          <li><i class="fa fa-frown-o"></i>普遍特色餐较少。一般只包含一两餐。</li>
          <li><i class="fa fa-frown-o"></i>同类景点较多导致行程紧张。观光体验大于度假休闲。</li>
          <li><i class="fa fa-frown-o"></i>自费活动太多时间不够用。客人花了钱却没玩好。</li>
        </ul>
        <div class="pricing-v1-footer">
          <a href="#" class="btn-u btn-u-red btn-block text-center">性价比低</a>
        </div>
      </div>
    </div>
    <p>*注意: 珀斯市区为四星酒店。</p>
  </div><!--/row-->
  

  <div class="heading heading-v4 margin-bottom-60">
    <h2>行程</h2>
  </div>

  <ul class="timeline-v2">
    <li class="equal-height-columns">
      <div class="cbp_tmtime equal-height-column"><span>第1天</span> <span>中国 &middot; 成都</span></div>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
      <div class="cbp_tmlabel equal-height-column">
        <h2>成都 - 广州 - 珀斯</h2>
        <p>起止地乘机飞往广州,后乘搭国际航班转飞(行李直挂)澳洲第四大城市  ——  珀斯 Perth,西澳的首府这是一个最 适宜人类居住的美丽城市(全球最宜居城市排名第八位)。</p>

      </div>
    </li>
    <li class="equal-height-columns">
      <div class="cbp_tmtime equal-height-column"><span>第2天</span> <span>澳大利亚 &middot; 珀斯</span></div>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
      <div class="cbp_tmlabel equal-height-column">
        <h2>珀斯 - 费里曼特尔 - 珀斯</h2>
        <div class="row margin-bottom-20">
          
          <div class="col-md-12">
            <p>早珀斯机场接机。后乘车前往西澳大学旁的【玛蒂尔达湾 Matilda Bay】享用绿地早餐,沐浴珀斯的第一缕阳光, 同珀斯道一声早安;后前往世界上最大的市区公园【国王公园 King’s Park】游览,途径美丽的天鹅湖外观珀斯坐 标 Bell   Tower,在国王公园俯瞰珀斯城,在伸手可及的蓝天下和无处不在的绿草地中放松自我,和当地人一样悠闲地 躺在草地上发呆;后前往珀斯近郊的海港【弗里曼特尔 Fremantle】,在这您可逛一逛只在周末开放的集市,市场 里从水果、蔬菜、海产品、新鲜的面包、乳酪、药草、香料到风格独特的纪念品无所不有,或在鼎鼎有名的卡普奇诺 咖啡街,品上一杯现磨咖啡,或漫步在港口边;中餐后前往【科特索海滩 Cottesloe Beach】 被寂寞星球《Lonely Planet》杂志评为全球第二适合全家同游的海滩,被当地人昵称为科特Cott,自由活动日光浴,适合冲 浪、游泳、跳水、沙滩排球等水上活动;后返回珀斯市内入住酒店,下午自由逛街购物活动或休息,晚餐自理。</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4 col-xs-6">
            <div class="heading food-heading margin-bottom-20">
              <h4>景点</h4>
              <p>玛蒂尔达湾</p>
              <p>国王公园</p>
              <p>弗里曼特尔</p>
              <p>科特索海滩</p>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="heading food-heading margin-bottom-20">
              <h4>膳食</h4>
              <p class="sublabel">早膳</p>
              <p>鲜奶麦片</p>
              <p>肉酱吐司</p>
              <p>巧克力饼干</p>
              <p>应季水果</p>
              <p class="sublabel">午膳</p>
              <p>口味青口</p>
              <p>纯正PIZZA</p>
              <p>黄金薯条</p>
              <p class="sublabel">晚膳</p>
              <p>中餐或越南菜</p>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="heading food-heading margin-bottom-20">
              <h4>酒店</h4>
              <p>SEBAL  Mandurah</p>
            </div>
          </div>
        </div>
        
      </div>
    </li>
    
    
  </ul>
</div>


