<%= month_calendar events: @departures do |date, departures| %>
  <%= date %>

  <% departures.each do |departure| %>
    <span class="message">
      <%= departure.calender_message %>
    </span>
  <% end %>
<% end %>