<div class="container container-sm">
  <div class="headline">
    <h2>编辑团队类型</h2>
  </div>

  <%= render 'form' %>
  <br>
  <p class="text-center">
    <%= link_to '查看', @mtour_category %> |
    <%= link_to '返回列表', tour_categories_path %>
  </p>
  
</div>