<div class="container container-sm">
  <div class="headline">
    <h2>新建团队类别</h2>
  </div>

  <%= render 'form' %>
  <br>
  <p class="text-center">
    <%= link_to '返回列表', tour_categories_path %>
  </p>
  
</div>