<div class="container container-sm">
  <div class="headline">
    <h2>编辑首页幻灯图</h2>
  </div>

  <%= render 'form' %>
  <br>
  <p class="text-center">
    <%= link_to '查看', @main_slide %> |
    <%= link_to '返回列表', main_slides_path %>
  </p>
  
</div>