<div class="container container-sm">
  <div class="headline">
    <h2>新建首页幻灯片</h2>
  </div>

  <%= render 'form' %>
  <br>
  <p class="text-center">
    <%= link_to '返回列表', main_slides_path %>
  </p>
  
</div>