<div class="container container-sm">
  <div class="tag-box tag-box-v3 margin-bottom-40">
    <h2>团队名称</h2>
    <p><%= @route.tour.name %></p>
  </div>
  
  <div class="headline">
    <h2>编辑线路</h2>
  </div>

  <%= render 'form' %>
  <br>
  <p class="text-center">
    <%= link_to '查看', @route %> |
    <%= link_to '返回列表', tour_routes_path(@route.tour) %>
  </p>
  
</div>
