/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'minijianxiyuan498733';
  src: url('/fonts/minijianxiyuan.eot');
  src: url('/fonts/minijianxiyuan.eot?#iefix') format('embedded-opentype'),
  url('/fonts/minijianxiyuan.woff') format('woff'),
  url('/fonts/minijianxiyuan.ttf') format('truetype'),
  url('/fonts/minijianxiyuan.svg#minijianxiyuan') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetLinkMediumOldStamp498723';
  src: url('/fonts/JetLinkMediumOldStamp.eot');
  src: url('/fonts/JetLinkMediumOldStamp.eot?#iefix') format('embedded-opentype'),
  url('/fonts/JetLinkMediumOldStamp.woff') format('woff'),
  url('/fonts/JetLinkMediumOldStamp.ttf') format('truetype'),
  url('/fonts/JetLinkMediumOldStamp.svg#JetLinkMediumOldStamp') format('svg');
  font-weight: normal;
  font-style: normal;
}


.minixiyouyuan_font { font-family: "minijianxiyuan498733" }
.zhongguyin_font { font-family: "JetLinkMediumOldStamp498723" }




.food-heading h4 {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

.food-heading h4:before,
.food-heading h4:after {
  background: #bbb;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 45%;
  width: 40%;
}

.food-heading h4:before {
  right: 100%;
}

.food-heading h4:after {
  left: 100%;
}

.food-heading {
  overflow: hidden;
  text-align: center;
}
.food-heading p.sublabel {
  color: #999;
}

.featurebox h2 {
  font-size: 18px
}
.featurebox p{
  color: #666;  
}


.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}

/* para images */
.bg-image-c1 {
  width: 100%;
  height: auto;
  padding: 50px 0;
  position: relative;
  background: url(/img/hobbiton-1.jpg) repeat fixed; 
}
.bg-image-c1:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  content: " ";
  position: absolute;
  background: rgba(0,0,0,0.5);
}

.bg-image-c2 {
  width: 100%;
  height: auto;
  padding: 50px 0;
  position: relative;
  background: url(/img/hobbiton-1.jpg) repeat fixed;
}

.bg-image-c2:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  content: " ";
  position: absolute;
  background: rgba(255,255,255,0.7);
}



/* shijiebang */
.sys-masthead {
    background: #fff;
    width: 100%;
    padding: .65rem;
    border-bottom: 1px solid #bbb;
    zoom: 1;
}
.sys-masthead-logo {
}

.mod-top-head {
  position: relative;
}
.mod-top-head >.num {
    color: #fff;
    position: absolute;
    z-index: 1;
    right: 0.2rem;
    top: 0.2rem;
}
.mod-top-head .top-pic {
    display: block;
    width: 100%;
    max-height: 400px;
    border: 0;
}

.mod-top-head .mastcontent {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    display: block;
}



.revolution-ch1_c {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

.revolution-ch2_c {
  color: #fff;
  font-size: 40px;
  max-width: 470px;
  line-height: 50px;
  position: relative;
  text-align: center;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
}

p.huang_heading {
  font-size: 16px;
}
p.huang_heading
span {
  font-size: 16px;
}

div.huang_features
.row {
  padding-top: 10px;
  background-color: #eee;
}
div.huang_features
.row
.thumbnails {
  background-color: #fff;
  margin-bottom: 10px;
}


.huang_price li a {
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}
.huang_price.tab-v1 .tab-content{
  padding-top: 0;
}

.huang_price .price_symbol {
  width: 60px;
  background-color: #eee;
  vertical-align: middle;
  text-align: center;
}
.huang_price .price_symbol span {
  color: #999;
  font-size: 30px
}

.huang_price .tab-pane li {
  margin-top: 5px;
  margin-bottom: 5px;
}
.huang_accordion{
  margin-bottom: 0;
}

.huang_accordion.panel-group .panel+.panel {
  margin-top: 0;
}

a.accordion-toggle {
  text-decoration: none;
}
.according_heading {
  font-size: 17px;
  margin: 0;
  padding: 10px 0 10px 15px;
  background-color: #eee;
}
.huang_accordion .panel-heading h4 {
  font-size: 14px;
  color: #333;
}

.huang_accordion .panel-body {
  color: #666;
}
.huang_accordion .panel-body ol{
  margin-left: -10px;
}




.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    background-color: #666;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}



.with-nav-tabs.panel-success .nav-tabs{
  background-color: #666;
  color: #fff;
}
.with-nav-tabs.panel-success .nav-tabs > li{
  width: 33%;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.with-nav-tabs.panel-success .nav-tabs > li > a small{
  font-size: 12px;
}

.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #fff;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
  border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
  color: #3c763d;
  background-color: #eee;
  border-color: #d6e9c6;
  border-bottom-color: transparent;
}


.with-nav-tabs.panel-success .panel-body {
  padding: 0;
}

.simple-calendar table {
  table-layout: fixed;
 border: 1px solid #ddd;
 border-top: none;
 border-collapse: collapse;
 font-family: Georgia, Times, serif;
}
.simple-calendar table th {
 border: 1px solid #ddd;
 border-top: none;
 background-color: #eee;
 height: 50px;
 padding: 5px;
 vertical-align: middle !important; 
 text-align: center;
}
.simple-calendar table td {
  padding: 3px !important;
  position: relative;
 border: 1px solid #ddd;
 background-color: #fff;
 height: 50px;
 vertical-align: top;
}

.simple-calendar table td span.message {
  color: red;
  position: absolute;
  right: 3px;    
  bottom: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.simple-calendar table .day {
 text-align: right;
}

.simple-calendar .prev-month {
  color: #ddd;
}
.simple-calendar .next-month {
  color: #ddd;
}


.telephone{
  border: 1px solid orange;
  background-color: #fcf8e3;
}
.telephone a {
  width: 100%;
  font-size: 20px;
  text-align: center;
}



#itinery_slider .item{
  margin: 3px;
}
#itinery_slider .item img{
  display: block;
  width: 100%;
  height: auto;
}
  
.itinery_modal_body {
    height: calc(100vh - 210px);
    overflow-y: auto;
}



.modal_itinery .modal-footer {
  text-align: center;
}
.modal_itinery .modal-footer button {
  width: 30%;
}
.modal_itinery .modal-content {
  border-radius: 0;
}
.modal_itinery .modal-header {
  background-color: #e67e22;
}
.modal_itinery .modal-footer {
  background-color: #eee;
}
.modal_itinery .modal-header h4 {
  color: #fff;
}