<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Web Fonts -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>

  <!-- Local Fonts -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="unify/assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="unify/assets/css/blog.style.css">

  <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="unify/assets/css/headers/header-v8.css">
  <link rel="stylesheet" href="unify/assets/css/footers/footer-v8.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="unify/assets/plugins/animate.css">
  <link rel="stylesheet" href="unify/assets/plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="unify/assets/plugins/fancybox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="unify/assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="unify/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
  <link rel="stylesheet" href="unify/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
  <link rel="stylesheet" href="unify/assets/plugins/login-signup-modal-window/css/style.css">

  <!-- CSS Theme -->
  <link rel="stylesheet" href="unify/assets/css/theme-colors/default.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="unify/assets/css/custom.css">
  <!-- CSS Customization -->
  <link rel="stylesheet" href="unify/assets/css/custom.css">
</head>
<body class="header-fixed header-fixed-space-v2">

<div class="wrapper">
  <!--=== Header v8 ===-->
  <div class="header-v8 header-sticky">
    <!-- Topbar blog -->
    <div class="blog-topbar">
      <div class="topbar-search-block">
        <div class="container">
          <form action="">
            <input type="text" class="form-control" placeholder="Search">
            <div class="search-close"><i class="icon-close"></i></div>
          </form>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-xs-8">
            <div class="topbar-time">Friday, Mar 13th 2015</div>
            <div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
            <ul class="topbar-list topbar-menu">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Forums</a></li>
              <li>
                <a href="javascript:void(0);">Dropdown</a>
                <ul class="topbar-dropdown">
                  <li><a href="#">Dropdown</a></li>
                  <li><a href="#">Dropdown</a></li>
                  <li class="topbar-submenu">
                    <a href="javascript:void(0);">Submenu</a>
                    <ul class="topbar-submenu-in">
                      <li><a href="#">Submenu</a></li>
                      <li><a href="#">Submenu</a></li>
                      <li class="topbar-submenu">
                        <a href="javascript:void(0);">Submenu</a>
                        <ul class="topbar-submenu-in">
                          <li><a href="#">Submenu</a></li>
                          <li><a href="#">Submenu</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);">Login</a></strong></li>
              <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Register</a></strong></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-4 clearfix">
            <i class="fa fa-search search-btn pull-right"></i>
            <ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
              <li class="cd-log_reg home"><a class="cd-signin" href="#">Login</a></li>
              <li class="cd-log_reg"><a class="cd-signup" href="#">Register</a></li>
            </ul>
          </div>
        </div><!--/end row-->
      </div><!--/end container-->
    </div>
    <!-- End Topbar blog -->

    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="res-container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div><!--/end responsive container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <div class="res-container">
            <ul class="nav navbar-nav">
              <!-- Main Demo -->
              <li><a href="#">Main Demo</a></li>
              <!-- Main Demo -->
            </ul>
          </div><!--/responsive container-->
        </div><!--/navbar-collapse-->
      </div><!--/end contaoner-->
    </div>
    <!-- End Navbar -->
  </div>
  <!--=== End Header v8 ===-->

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs breadcrumbs-light">
    <div class="container">
      <h1 class="pull-left">Blog Single Page</h1>
      <ul class="pull-right breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="">Page</a></li>
        <li class="active">Blog Single Page</li>
      </ul>
    </div>
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!-- Container Part -->
  <div class="container content">
    <div class="row">
      <div class="col-md-9">
        <%= yield %>
      </div>

      <div class="col-md-3">
        <!-- Blog Thumb v3 -->
        <div class="margin-bottom-50">
          <h2 class="title-v4">Blog &amp; Comments</h2>

          <div class="blog-thumb-v3">
            <small><a href="#">Evan Bartlett</a></small>
            <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
          </div>

          <hr class="hr-xs">

          <div class="blog-thumb-v3">
            <small><a href="#">Jonathan Owen</a></small>
            <h3><a href="#">Architects plan to stop skyscrapers from blocking out sunlight</a></h3>
          </div>

          <hr class="hr-xs">

          <div class="blog-thumb-v3">
            <small><a href="#">Susie Lau</a></small>
            <h3><a href="#">Fashion's first selfies: It was a 16th-century German accountant who started the trend for style blogging</a></h3>
          </div>

          <hr class="hr-xs">

          <div class="blog-thumb-v3">
            <small><a href="#">John Rentoul</a></small>
            <h3><a href="#">How to run a country: A 10 point manifesto for leaders who stand – and want to deliver</a></h3>
          </div>

          <hr class="hr-xs">

          <div class="blog-thumb-v3">
            <small><a href="#">Richard Garner</a></small>
            <h3><a href="#">Controversial plan to test new primary school pupils infuriates teachers</a></h3>
          </div>
        </div>
        <!-- End Blog Thumb v3 -->
      </div>
    </div>
  </div>
  <!--=== End Container Part ===-->

  <!--=== Footer v8 ===-->
  <div class="footer-v8">
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">
            <a href="index.html"><img class="footer-logo" src="unify/assets/img/themes/logo-news-light-default.png" alt=""></a>
            <p class="margin-bottom-20">Unify is an ultra fully responsive template with modern and smart design.</p>
            <span>Headquarters:</span>
            <p>795 Folsom Ave, Suite 600, San Francisco, CA 94107</p>
            <hr>
            <span>Phone:</span>
            <p>(+123) 456 7890</p>
            <p>(+123) 456 7891</p>
            <hr>
            <span>Email Address:</span>
            <a href="#">support@htmlstream.com</a>
          </div>

          <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <h2>Tags</h2>
            <!-- Tag Links v4 -->
            <ul class="tags-v4 margin-bottom-40">
              <li><a class="rounded-4x" href="#">java</a></li>
              <li><a class="rounded-4x" href="#">featured</a></li>
              <li><a class="rounded-4x" href="#">pattern</a></li>
              <li><a class="rounded-4x" href="#">web</a></li>
              <li><a class="rounded-4x" href="#">fashion</a></li>
              <li><a class="rounded-4x" href="#">wrapbootstrap</a></li>
              <li><a class="rounded-4x" href="#">css3</a></li>
              <li><a class="rounded-4x" href="#">foto</a></li>
              <li><a class="rounded-4x" href="#">google</a></li>
              <li><a class="rounded-4x" href="#">html5</a></li>
            </ul>
            <!-- End Tag Links v4 -->

            <h2>Useful Links</h2>
            <!-- Footer Lists -->
            <ul class="footer-lists">
              <li><i class="fa fa-angle-right"></i><a href="#">Wrapbootstrap</a></li>
              <li><i class="fa fa-angle-right"></i><a href="#">Google</a></li>
              <li><i class="fa fa-angle-right"></i><a href="#">Marketing</a></li>
              <li><i class="fa fa-angle-right"></i><a href="#">Support Forum</a></li>
              <li><i class="fa fa-angle-right"></i><a href="#">Themes</a></li>
            </ul>
            <!-- End Footer Lists -->
          </div>

          <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <h2>Latest News</h2>
            <!-- Latest News -->
            <div class="latest-news margin-bottom-20">
              <img src="unify/assets/img/thumb/img-thumb1.jpg" alt="">
              <h3><a href="#">Standard post with video.</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <hr>

            <div class="latest-news margin-bottom-20">
              <img src="unify/assets/img/thumb/img-thumb2.jpg" alt="">
              <h3><a href="#">Standard post with video.</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <hr>

            <div class="latest-news">
              <img src="unify/assets/img/thumb/img-thumb3.jpg" alt="">
              <h3><a href="#">Standard post with video.</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- End Latest News -->
          </div>

          <div class="col-md-3 col-sm-6">
            <h2>Newsletter</h2>
            <p><strong>Subscribe</strong> to our newsletter and stay up to date with the latest news and deals!</p><br>

            <!-- Form Group -->
            <div class="input-group margin-bottom-50">
              <input class="form-control" type="email" placeholder="Enter email">
              <div class="input-group-btn">
                <button type="button" class="btn-u input-btn">Subscribe</button>
              </div>
            </div>
            <!-- End Form Group -->

            <h2>Social Network</h2>
            <p><strong>Follow Us</strong> If you want to be kept up to date about what’s going on, minute by minute, then search for Grant and give us a follow!</p><br>

            <!-- Social Icons -->
            <ul class="social-icon-list margin-bottom-20">
              <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="rounded-x fa fa-dribbble"></i></a></li>
            </ul>
            <!-- End Social Icons -->
          </div>
        </div><!--/end row-->
      </div><!--/end container-->
    </footer>

    <footer class="copyright">
      <div class="container">
        <ul class="list-inline terms-menu">
          <li>2015 &copy; All Rights Reserved.</li>
          <li class="home"><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy and Policy</a></li>
        </ul>
      </div><!--/end container-->
    </footer>
  </div>
  <!--=== End Footer v8 ===-->

</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script src="unify/assets/plugins/jquery/jquery.min.js"></script>
<script src="unify/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="unify/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="unify/assets/plugins/back-to-top.js"></script>
<script src="unify/assets/plugins/smoothScroll.js"></script>
<script src="unify/assets/plugins/counter/waypoints.min.js"></script>
<script src="unify/assets/plugins/counter/jquery.counterup.min.js"></script>
<script src="unify/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script src="unify/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
<script src="unify/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="unify/assets/plugins/modernizr.js"></script>
<script src="unify/assets/plugins/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->
<!-- JS Customization -->
<script src="unify/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script src="unify/assets/js/app.js"></script>
<script src="unify/assets/js/forms/login.js"></script>
<script src="unify/assets/js/forms/contact.js"></script>
<script src="unify/assets/js/plugins/fancy-box.js"></script>
<script>
  jQuery(document).ready(function() {
    App.init();
    App.initCounter();
    FancyBox.initFancybox();
    LoginForm.initLoginForm();
    ContactForm.initContactForm();
  });
</script>

<!--[if lt IE 9]>
  <script src="unify/assets/plugins/respond.js"></script>
  <script src="unify/assets/plugins/html5shiv.js"></script>
  <script src="unify/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
